/* user.css */

/* Global styles */
body {
    transition: background-color .5s;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url(https://getpaidstock.com/tmp/[GetPaidStock.com]-64dde3d225b92.jpg);

    background-position: center;
    background-size: cover;
}
.row2{
        padding: 0 0px;
        display: flex;
        

}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Page header styles */
h1 {
    text-align: center;
    color: #0066cc;
    padding-top: 20px;
}

/* User details styles */
.user-details {
    padding: 20px;
    margin-top: 20px;
}

.user-detail {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    color: #fff;
}

.user-detail .attribute {
    flex: 1;
    font-weight: bold;
    color: #0066cc;
}

.user-detail .value {
    flex: 2;
}

/* "Make Payment" button styles */
form {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
    color: #0066cc;
}

input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    padding: 8px 16px;
    background-color: #0066cc;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0052b3;
}

.sidenav {
    height: 84%;
    width: 184px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 28px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

 
.dropdown ul {
  display: block;
  position: absolute;
  left: 0px;
  top: calc(100% + 30px);
  margin: 0;
  width: 100%;
  padding: 0px 0px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 8px;
}
.dropdown ul li {
  min-width: 200px;
}
.dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
}
.dropdown ul a i {
  font-size: 12px;
}
.dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
.dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.alert{
  position: relative;
  left: 400px;
  top: -20px;
  font-size: larger;
  margin-bottom: 1rem;
  border: 0px solid transparent;
  border-radius: 0.25rem;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
tr {
  border: 4px solid #ddd;
}
th {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 0px;
  text-align: left;
}
td {
  border: 1px solid  #f2f2f2;
  padding: 0px;
  background-color: #ddd;
}
h3{
  color: #ddd!important;
}
td:last-child {
  border-bottom: 1px solid black!important; /* You can adjust the color and thickness */
}